/*BODY*/

body {
    background-color: #ffffff;
    font-family: 'arimo', sans-serif !important;
}

/*HEADER*/
header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    background-color: #2439AC;
    font-family: 'arimo',sans-serif;
    color: #ffffff;
    font-size: 13px;
}

/*NAVBAR*/

/*CAROUSEL*/
.carousel-caption > p{
    margin-top: 1vw;
    font-size:1.75vw;
    line-height: 1;
    text-shadow: black;
    text-align: left;
    color:#ffffff;
}


/*CTA*/
.cta {
    background: #2439AC;
    color: #ffffff;
    
}


/*FOOTER*/
footer{
    background-color: black;
    color: #ffffff;
    position: unset; 
     
    width: 100%;
   
    
}


/*NOSOTROS*/
/*iconos*/
.card{
    border: 0;
}

/*figura*/
.figura{
    height: 0px;
    width: 600px;
    border-left:0px solid transparent;
    border-right:200px solid transparent; 
    border-top:0px solid transparent;
    border-bottom:831px solid #2439AC;
    position: absolute; 
    z-index: 1;
}

/*EQUIPO*/

.boton{
    background-color: #2439AC;
    border: #2439AC;
    width: 200px;
    
}     
.titulo{
    text-align: center;
    color: #2439AC;
    
    
    
}
.parrafo1{
    color: #ffffff;
    font-size: 13px;
    padding-top: 200px;
    margin-left: 30px;
}

/*HERRAMIENTAS*/

.figura2{
    height: 0px;
    width: 600px;
    border-left:0px solid transparent;
    border-right:200px solid transparent; 
    border-top:0px solid transparent;
    border-bottom:647px solid #2439AC;
    position: absolute; 
    z-index: 1;
}
.parrafo2{
    color: #ffffff;
    font-size: 13px;
    padding-top: 120px;
    margin-left: 30px;
}

/*modale*/
.modal-content{
    background-color: #2439AC;
    color: #ffffff;
    height: 350px;     
}
.modal-body{
    text-align: center;
    padding: 50px; 
   
}
.modal-dialog{
    position: left;
    
}
.close{
    color: #ffffff;
    
}
.line{
    color: #ffffff;
}
