/*BODY*/

body {
    background-color: #ffffff;
    font-family: 'arimo', sans-serif !important;
}

/*HEADER*/
header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    background-color: #2439AC;
    font-family: 'arimo',sans-serif;
    color: #ffffff;
    font-size: 13px;
}

/*NAVBAR*/

/*CAROUSEL*/
.carousel-caption > p{
    margin-top: 1vw;
    font-size:1.75vw;
    line-height: 1;
    text-shadow: black;
    text-align: left;
    color:#ffffff;
}
/*CTA*/
.cta {
    background: #2439AC;
    color: #ffffff;
}

/*FOOTER*/
footer{
    background-color: black;
    color: #ffffff;
    position: unset; 
     
    width: 100%;
   
    
}